<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="LoginTest">
        <groups>
            <run>
                <include name="validLogin"/>
                <include name="lockedLogin"/>
                <include name="problemLogin"/>
                <include name="glitchLogin"/>
                <include name="erorLogin"/>
                <include name="visualLogin"/>
                <include name="invalidLogin"/>
                <include name="invalidUsername"/>
                <include name="invalidPassword"/>
            </run>
        </groups>
        <classes>
            <class name="com.mycompany.app.tests.LoginTest"/>
        </classes>
    </test>
</suite>